@import "tailwindcss";

@theme {
  --animate-fade-in-up: fade-in-up 1s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fall: fall 10s linear infinite;

  @keyframes fall {
    0% {
      transform: translateY(-10vh) rotate(0deg);
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }
}

:root {
  --bg-image: url('/bg.jpg');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  background-color: #1a1a1a;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}